body {
    background-color: rgb(164, 181, 218);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(71, 71, 71);
}

.container{
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 3% 4%;
    border-radius: 5%;
    gap: 30px;
    margin: auto;
}

.logo {
    width: 40%;
    display: flex;
    justify-content: flex-start;
} 

.text__big {
    font-size: 30px;
    font-weight: bold;
}

.l {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

}

.nomber {
    border: solid rgb(190, 190, 190) 2px;
    border-radius: 5px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cantru {
    width: 17%;
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    margin: 5px;
    padding: 8px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.cantru__icon {
    width: 30%;
    height: auto;
}

.cantru__dovn {
    width: 15%;
    height: auto;
}

.phone {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}

.phone__n {
    height: 95%;
    width: 95%;
    font-size: 16px;
    border: none;
    outline: none;
}

.nomder__button {
    width: 100%;
    height: 40px;
    background-color: blue;
    color: aliceblue;
    border: none;
    border-radius: 10px;

}

